*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;  
}
body{
    overflow:hidden;
    background-size: 100%;
    background-repeat: round;
    background-image: url("https://images.unsplash.com/photo-1566712775584-b68f85fe0e78?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTF8fGdyZWVuJTIwZ3JhZGllbnR8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}

.heading {
    margin: 20px 50px;
    text-align: center;
    padding: 20px 30px 20px 40px;
    font-size:large;
}

.head1{
    padding:2px 10px 0px 2px;
}

.head2{
    margin:0px 10px 0px 0px;

}

#input{
    width: 300px;
    height:30px;
    border-radius: 3px 15px;
    border-color: #BF3FA4;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    padding: 15px 30px 20px 10px; 
    outline:none;
    margin-top:0px;
    margin-bottom:-10px;
}

button{
    border-style: hidden;
    border-radius: 25px;
    width:300px;
    height:50px;
    background-color: white;
    outline: none;
    background-image: url("https://image.freepik.com/free-vector/abstract-orange-purple-gradient-flow-shapes-background_71374-666.jpg");

}

#page{
    background-color: white;
    border-radius: 50px;
    height:580px;
    width:380px;
    margin:60px 150px 40px 500px;
}

form, .sign-up{
    padding:10px 10px 10px 40px;
}

.account{
    text-align: center;
}
.form-check {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 10px 20px;
  }
  span {
    margin-left: 6px;
  }
  
  span a, p a {
    color: #488bcc;
    text-decoration: none;
  }