* {
   /* this removes any prior or default design on the page, this way I can do everything myself from the scratch*/
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}

body {
   font-family: "Signika", serif;
   width: 100%;
   height: 100%;
   background-color: #83822d;
   overflow: hidden;
   background-size: cover;
}

#result-body {
   background-image: url(../assets/dew_on_leaf.jpg);
}

.form {
   background-color: #c1cdb9;
   width: 70%;
   height: 80%;
   position: absolute 0px 0px;
   border-radius: 12px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#score {
   text-align: center;
   /* margin: 6px 0px 3px 0px; */
}

#score,
#score-fraction {
   color: #83822d;
}

#circle {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   border: 3px solid #83822d;
   position: relative;
   margin: 25px 0px 45px 0px;
}

#circle h3 {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.share {
   padding: 6px 10px;
   background-color: #83822d;
   border: none;
}

.container {
   width: 90%;
   margin: auto;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
}

.icons {
   margin: 16px 0px;
}

.icons a {
   color: #1877f2;
   font-size: large;
   margin: 16px 13px;
}

.question {
   border-radius: 10px;
   width: 100%;
   padding: 0.7rem 1rem;
   color: #fff;
   border: none;
   outline: none;
   margin: 1rem 0;
   font-size: 1.2rem;
   text-transform: uppercase;
   cursor: pointer;
}

form {
   padding: 90px 10px 10px 40px;
}

#result-page {
   background: url(../assets/dew_on_leaf.jpg) no-repeat center center fixed;
   background-color: #83822d;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   font-family: "Signika", serif;
}
